
<link rel="shortcut icon" href="{:sysconf('sys_icon')}">
    <link rel="stylesheet" href="{:sysconf('ui_icon')}">
<link rel="stylesheet" href="__STATIC__/plugs/layui/css/layui.css?at={:date('md')}">
<link rel="stylesheet" href="__STATIC__/common/css/style.css?t={:time()}">
<script>window.ROOT_URL = '__ROOT__';</script>
<script src="__STATIC__/plugs/jquery/vue.min.js"></script>
<script src="__STATIC__/plugs/jquery/Sortable.min.js?v="></script>
<script src="__STATIC__/plugs/jquery/vuedraggable.min.js?v="></script>
<script src="__STATIC__/plugs/jquery/jquery.min.js"></script>
<script src="__STATIC__/plugs/jquery/pace.min.js"></script>
<script charset="utf-8" src="https://map.qq.com/api/gljs?v=1.exp&key={:sysconf('qq_map')}"></script>