{extend name='main'}

{block name='content'}

<style>

    .store-total-container {
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .store-total-container .store-total-icon {
        top: 45%;
        right: 8%;
        font-size: 65px;
        position: absolute;
        color: rgba(255, 255, 255, 0.4);
    }

    .store-total-container .store-total-item {
        color: #fff;
        line-height: 4em;
        padding: 15px 25px;
        position: relative;
    }

    .store-total-container .store-total-item > div:nth-child(2) {
        font-size: 46px;
        line-height: 46px;
    }

</style>

<div class="think-box-shadow store-total-container notselect">
    <div class="margin-bottom-15">统计</div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm6 layui-col-md4">
            <div class="store-total-item nowrap" style="background:linear-gradient(to right,#9000ff, #5e00ff)">
                <div>订单总数</div>
                <div>128</div>
                <div>当前订单总数量</div>
            </div>
            <i class="store-total-icon ui ui-preview-2"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md4">
            <div class="store-total-item nowrap" style="background:linear-gradient(to right,#f43f3b, #ec008c);">
                <div>商品总量</div>
                <div>999</div>
                <div>当前商品总数量</div>
            </div>
            <i class="store-total-icon ui ui-goods"></i>
        </div>
        <div class="layui-col-sm6 layui-col-md4">
            <div class="store-total-item nowrap" style="background:linear-gradient(to right,#ff9700, #ed1c24)">
                <div>会员总数</div>
                <div>555</div>
                <div>当前会员总数量</div>
            </div>
            <i class="store-total-icon layui-icon layui-icon-user"></i>
        </div>
    </div>
</div>
      
<div class="think-box-shadow store-total-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-carousel bg-white layui-backlog" >
                <ul class="layui-row layui-col-space10 layui-this">
                    <li class="layui-col-xs6">
                        <h3>Git地址:<a href="https://github.com/Frank-hhm/tp6-cms" class="text-blue">https://github.com/Frank-hhm/tp6-cms</a></h3>
                        <div>
                            <img src="https://files.net-roots.cn/5e5108d59c4be.jpg" style="height:120px;width: 120px;">
                            <p>git上面没有sql，需要的朋友请加下微信发你=-=</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> 
<div class="think-box-shadow store-total-container">
    <div class="margin-bottom-15">这个月趋势</div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div id="main" style="height:400px"></div>
        </div>
    </div>
</div>
{/block}



{block name='script'}


<script>
    require(['echarts'], function (echarts, chart) {
        chart = echarts.init(document.getElementById('main'));
        window.onresize = chart.resize;
        chart.setOption({
            tooltip: {trigger: 'axis'},
            grid: {top: '10%', left: '3%', right: '8%', bottom: '3%', containLabel: true},
            xAxis: [{
                type: 'category',
                scale: false,
                boundaryGap: false,
                axisLabel: {
                    color: '#2f9de2',
                },
                data: eval('[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]')
            }],
            yAxis: [{
                type: 'value',
                scale: true,
                max: function (value) {
                    return Math.ceil(value.max / 50) * 100;
                },
                axisLabel: {
                    color: '#000',
                    formatter: "{value}"
                },
                splitLine: {
                    lineStyle: {
                        type: 'dashed',
                        color: '#0081ff'
                    }
                }
            }],
            legend: {data: ['销售额','支付订单数','下单用户数','新增用户数']},
            series: [
                {
                    type: 'line',
                    color: '#6739b6',
                    name: '销售额',
                    label: {normal: {}},
                    data: eval('[180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180,180]')
                },
                {
                    type: 'line',
                    color: '#39b54a',
                    name: '支付订单数',
                    label: {normal: {}},
                    data: eval('[120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120,120]')
                },
                {
                    type: 'line',
                    color: '#0081ff',
                    name: '下单用户数',
                    label: {normal: {}},
                    data: eval('[380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380,380]')
                },

                {
                    type: 'line',
                    name: '新增用户数',
                    color: '#666666',
                    label:{normal: {}},
                    data: eval('[130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130,130]')
                }
            ]
        });
    });
</script>
{/block}
